/.vs/jcANALYTICS/v14/.suo
/jcANALYTICS.ConsoleTests/bin/Debug/System.Collections.Immutable.dll
/jcANALYTICS.ConsoleTests/bin/Debug/System.Collections.Immutable.xml
/jcANALYTICS.ConsoleTests/bin/Debug/jcANALYTICS.ConsoleTests.exe
/jcANALYTICS.ConsoleTests/bin/Debug/jcANALYTICS.ConsoleTests.exe.config
/jcANALYTICS.ConsoleTests/bin/Debug/jcANALYTICS.ConsoleTests.pdb
/jcANALYTICS.ConsoleTests/bin/Debug/jcANALYTICS.Lib.dll
/jcANALYTICS.ConsoleTests/bin/Debug/jcANALYTICS.Lib.pdb
/jcANALYTICS.ConsoleTests/bin/Release/System.Collections.Immutable.dll
/jcANALYTICS.ConsoleTests/bin/Release/System.Collections.Immutable.xml
/jcANALYTICS.ConsoleTests/bin/Release/jcANALYTICS.ConsoleTests.exe
/jcANALYTICS.ConsoleTests/bin/Release/jcANALYTICS.ConsoleTests.exe.config
/jcANALYTICS.ConsoleTests/bin/Release/jcANALYTICS.ConsoleTests.pdb
/jcANALYTICS.ConsoleTests/bin/Release/jcANALYTICS.Lib.dll
/jcANALYTICS.ConsoleTests/bin/Release/jcANALYTICS.Lib.pdb
/jcANALYTICS.ConsoleTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcANALYTICS.ConsoleTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcANALYTICS.ConsoleTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcANALYTICS.ConsoleTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcANALYTICS.ConsoleTests/obj/Debug/jcANALYTICS.ConsoleTests.csproj.FileListAbsolute.txt
/jcANALYTICS.ConsoleTests/obj/Debug/jcANALYTICS.ConsoleTests.csprojResolveAssemblyReference.cache
/jcANALYTICS.ConsoleTests/obj/Debug/jcANALYTICS.ConsoleTests.exe
/jcANALYTICS.ConsoleTests/obj/Debug/jcANALYTICS.ConsoleTests.pdb
/jcANALYTICS.ConsoleTests/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/jcANALYTICS.ConsoleTests/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcANALYTICS.ConsoleTests/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcANALYTICS.ConsoleTests/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcANALYTICS.ConsoleTests/obj/Release/jcANALYTICS.ConsoleTests.csproj.FileListAbsolute.txt
/jcANALYTICS.ConsoleTests/obj/Release/jcANALYTICS.ConsoleTests.csprojResolveAssemblyReference.cache
/jcANALYTICS.ConsoleTests/obj/Release/jcANALYTICS.ConsoleTests.exe
/jcANALYTICS.ConsoleTests/obj/Release/jcANALYTICS.ConsoleTests.pdb
/jcANALYTICS.Lib/bin/Debug/System.Collections.Immutable.dll
/jcANALYTICS.Lib/bin/Debug/System.Collections.Immutable.xml
/jcANALYTICS.Lib/bin/Debug/jcANALYTICS.Lib.dll
/jcANALYTICS.Lib/bin/Debug/jcANALYTICS.Lib.pdb
/jcANALYTICS.Lib/bin/Release/System.Collections.Immutable.dll
/jcANALYTICS.Lib/bin/Release/System.Collections.Immutable.xml
/jcANALYTICS.Lib/bin/Release/jcANALYTICS.Lib.dll
/jcANALYTICS.Lib/bin/Release/jcANALYTICS.Lib.pdb
/jcANALYTICS.Lib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcANALYTICS.Lib/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcANALYTICS.Lib/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcANALYTICS.Lib/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcANALYTICS.Lib/obj/Debug/jcANALYTICS.Lib.csproj.FileListAbsolute.txt
/jcANALYTICS.Lib/obj/Debug/jcANALYTICS.Lib.csprojResolveAssemblyReference.cache
/jcANALYTICS.Lib/obj/Debug/jcANALYTICS.Lib.dll
/jcANALYTICS.Lib/obj/Debug/jcANALYTICS.Lib.pdb
/jcANALYTICS.Lib/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/jcANALYTICS.Lib/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcANALYTICS.Lib/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcANALYTICS.Lib/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcANALYTICS.Lib/obj/Release/jcANALYTICS.Lib.csproj.FileListAbsolute.txt
/jcANALYTICS.Lib/obj/Release/jcANALYTICS.Lib.dll
/jcANALYTICS.Lib/obj/Release/jcANALYTICS.Lib.pdb
/jcANALYTICS.PCL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcANALYTICS.PCL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcANALYTICS.PCL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcANALYTICS.PCL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcANALYTICS.PCL/obj/Debug/jcANALYTICS.PCL.csproj.FileListAbsolute.txt
/jcANALYTICS.PCL/obj/Debug/jcANALYTICS.PCL.csprojResolveAssemblyReference.cache
